* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__post {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  padding-left: 20px;
}
