.app__header {
    background-color: white;
    object-fit: contain;
    padding: 20px;
    border-bottom: solid 1px lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 1;
}

.app_headerImage{
    object-fit: contain;
}
