.post {
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__text {
    padding: 20px;
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
}

.post__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post__button {
    flex: 0;
    border: none;
    color: #6082a3;
    background-color: transparent;
    border-top: 1px solid lightgray;
}

.post__comments {
    padding: 20px;
}
